@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.social-button:hover > img {
    @apply invert;
}

.post-href {
    @apply font-bold;
    @apply text-gray-800;
    @apply hover:text-gray-600;
    @apply hover:underline;
    @apply transition-all;
}
